//Background colors
$background-gray900: #222222;
$background-gray800: #303030;

//text colors
$text-color-light-gray: #a5a5a5;
$text-color-success: #4caf50;
$text-color-danger: #f44336;
$text-color-warning: #ffeb3b;
